In [51]:
import pandas as pd

In [52]:

train = pd.read_csv(r'C:\Users\rlee3104\Downloads\MachineHAck\Insurance_Churn_ParticipantsData\Train.csv')

In [53]:
train['labels'].value_counts()

0    29941
1     3967
Name: labels, dtype: int64

In [54]:
test = pd.read_csv(r'C:\Users\rlee3104\Downloads\MachineHAck\Insurance_Churn_ParticipantsData\Test.csv')

In [55]:
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt 
from scipy.stats import norm, skew

In [56]:
train.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
0,-0.276515,-0.424429,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1,0,0,0,0,10,2,1
1,0.853573,0.150991,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2,0,1,0,0,0,3,0
2,0.947747,-0.173832,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2,0,0,0,0,5,3,0
3,0.853573,-0.381404,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2,0,1,0,0,5,3,0
4,1.324443,1.590527,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,8,3,0

In [41]:
def check_value_counts_perc(train, test, col):
    result = pd.concat([(train[col].value_counts() / train.shape[0]).reset_index(), 
                        (test[col].value_counts() / test.shape[0]).reset_index()], 
                       axis=1)
    result.columns = ['train_value', 'train_perc', 'test_value', 'test_perc']
    
    return result

In [49]:
check_value_counts_perc(train, test, "feature_7")

    train_value  train_perc  test_value  test_perc
0             1    0.214876           1   0.216403
1             4    0.210481           4   0.205344
2             9    0.167836           9   0.168628
3             0    0.114752           0   0.113244
4             7    0.091247           7   0.093780
5             5    0.049634           5   0.051402
6             6    0.034328           6   0.036716
7             2    0.032972           2   0.032646
8            10    0.029138          10   0.027869
9             3    0.027663           3   0.026719
10            8    0.020644           8   0.021056
11           11    0.006429          11   0.006193

In [50]:

def get_closest(train, col, value):
    a = train[col].unique().tolist()
    min_idx = min(range(len(a)), key=lambda i: abs(a[i]-value))

    return a[min_idx]

In [61]:
dont_consider_feats = ['feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12', 'feature_13', 'feature_14','feature_15','labels']

for col in train.columns.tolist():
    if col not in dont_consider_feats:
        
        test[col] = test[col].apply(lambda x: get_closest(train, col, x))

In [74]:
ntrain = train.shape[0]
ntest = test.shape[0]
y_train = train.labels.values
all_data = pd.concat((train, test)).reset_index(drop=True)
all_data.drop(['labels'], axis=1, inplace=True)
print("all_data size is : {}".format(all_data.shape))

all_data size is : (45211, 16)

C:\Users\rlee3104\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [75]:
all_data.head()

,feature_0,feature_1,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9
0,-0.276515,-0.424429,0,0,0,0,10,2,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1
1,0.853573,0.150991,0,1,0,0,0,3,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2
2,0.947747,-0.173832,0,0,0,0,5,3,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2
3,0.853573,-0.381404,0,1,0,0,5,3,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2
4,1.324443,1.590527,0,0,0,0,8,3,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1

In [76]:
one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_7'], prefix='F7')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_7', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]

In [78]:
one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_8'], prefix='F8')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_8', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]

In [80]:
one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_9'], prefix='F9')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_9', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]



one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_10'], prefix='F10')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_10', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]




one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_11'], prefix='F11')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_11', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]




one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_12'], prefix='F12')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_12', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]




one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_13'], prefix='F13')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_13', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]




one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_14'], prefix='F14')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_14', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]




one_hot_data = pd.concat([all_data, pd.get_dummies(all_data['feature_15'], prefix='F15')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('feature_15', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
all_data=one_hot_data[:]

In [83]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 51 columns):
feature_0    45211 non-null float64
feature_1    45211 non-null float64
feature_2    45211 non-null float64
feature_3    45211 non-null float64
feature_4    45211 non-null float64
feature_5    45211 non-null float64
feature_6    45211 non-null float64
F7_0         45211 non-null uint8
F7_1         45211 non-null uint8
F7_2         45211 non-null uint8
F7_3         45211 non-null uint8
F7_4         45211 non-null uint8
F7_5         45211 non-null uint8
F7_6         45211 non-null uint8
F7_7         45211 non-null uint8
F7_8         45211 non-null uint8
F7_9         45211 non-null uint8
F7_10        45211 non-null uint8
F7_11        45211 non-null uint8
F8_0         45211 non-null uint8
F8_1         45211 non-null uint8
F8_2         45211 non-null uint8
F9_0         45211 non-null uint8
F9_1         45211 non-null uint8
F9_2         45211 non-null uint8
F9_3         45211 non-null uint8
F10_0        45211 non-null uint8
F10_1        45211 non-null uint8
F11_0        45211 non-null uint8
F11_1        45211 non-null uint8
F12_0        45211 non-null uint8
F12_1        45211 non-null uint8
F13_0        45211 non-null uint8
F13_1        45211 non-null uint8
F13_2        45211 non-null uint8
F14_0        45211 non-null uint8
F14_1        45211 non-null uint8
F14_2        45211 non-null uint8
F14_3        45211 non-null uint8
F14_4        45211 non-null uint8
F14_5        45211 non-null uint8
F14_6        45211 non-null uint8
F14_7        45211 non-null uint8
F14_8        45211 non-null uint8
F14_9        45211 non-null uint8
F14_10       45211 non-null uint8
F14_11       45211 non-null uint8
F15_0        45211 non-null uint8
F15_1        45211 non-null uint8
F15_2        45211 non-null uint8
F15_3        45211 non-null uint8
dtypes: float64(7), uint8(44)
memory usage: 4.3 MB

In [85]:
numeric_feats = all_data.dtypes[all_data.dtypes != "uint8"].index

# Check the skew of all numerical features
skewed_feats = all_data[numeric_feats].apply(lambda x: skew(x.dropna())).sort_values(ascending=False)
print("\nSkew in numerical features: \n")
skewness = pd.DataFrame({'Skew' :skewed_feats})
skewness.head(500)

Skew in numerical features:

               Skew
feature_1  8.361046
feature_6  8.151973
feature_4  4.896869
feature_3  3.142589
feature_5  2.615112
feature_0  0.684795
feature_2  0.093076

In [86]:
skewness = skewness[abs(skewness) > 0.75]
print("There are {} skewed numerical features to Box Cox transform".format(skewness.shape[0]))

from scipy.special import boxcox1p
skewed_features = skewness.index
lam = 0.15
for feat in skewed_features:
    #all_data[feat] += 1
    all_data[feat] = boxcox1p(all_data[feat], lam)

There are 7 skewed numerical features to Box Cox transform

In [88]:

train = all_data[:ntrain]
test = all_data[ntrain:]

In [89]:
from sklearn.model_selection import train_test_split, cross_val_score

X_train, X_test, y_train, y_test = train_test_split(
    train, y_train, test_size=0.1, random_state=42
)

In [91]:
import numpy as np
X_train[:] = np.nan_to_num(X_train)

C:\Users\rlee3104\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\rlee3104\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [92]:
X_test[:] = np.nan_to_num(X_test)

C:\Users\rlee3104\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
params = {'colsample_bytree': 0.8,'learning_rate': 0.0003, 'max_depth': 8, 'n_estimators': 1000, 'subsample': 1,'scale_pos_weight':6,'objective':'binary:logistic','eval_metric':'logloss'}

In [98]:
import xgboost as xgb
dt =xgdmat=xgb.DMatrix(X_train,y_train)
dte = xgdmat=xgb.DMatrix(X_test,y_test)

In [99]:
model = xgb.train(params, dt, 1000, [(dt, "train"),(dte, "valid")], verbose_eval=200)

[0]	train-logloss:0.69298	valid-logloss:0.692976
[200]	train-logloss:0.663677	valid-logloss:0.663743
[400]	train-logloss:0.637215	valid-logloss:0.637372
[600]	train-logloss:0.612317	valid-logloss:0.612593
[800]	train-logloss:0.589679	valid-logloss:0.590144
[999]	train-logloss:0.569025	valid-logloss:0.569702

In [96]:
from termcolor import colored
#from sklearn.cross_validation import KFold

from sklearn.metrics import confusion_matrix

y_pred1 = model.predict(dte)
# Making the Confusion Matrix
cm = confusion_matrix(y_test, (y_pred1>0.5))
print(colored('The Confusion Matrix is: ', 'red'),'\n', cm)
# Calculate the accuracy on test set
predict_accuracy_on_test_set = (cm[0,0] + cm[1,1])/(cm[0,0] + cm[1,1]+cm[1,0] + cm[0,1])
print(colored('The Accuracy on Test Set is: ', 'blue'), colored(predict_accuracy_on_test_set, 'blue'))

The Confusion Matrix is:
 [[2914   55]
 [ 297  125]]
The Accuracy on Test Set is:  0.8961958124447066