In [156]:
import pandas as pd
import  numpy as np

In [157]:
pd.read_csv('ert.csv')

,id,program_id,program_type,program_duration,test_id,test_type,difficulty_level,trainee_id,gender,education,city_tier,age,total_programs_enrolled,is_handicapped,trainee_engagement_rating,is_pass
0,9389_150,Y_1,Y,136,150,offline,intermediate,9389,M,Matriculation,3,24.0,5,N,1.0,0
1,16523_44,T_1,T,131,44,offline,easy,16523,F,High School Diploma,4,26.0,2,N,3.0,1
2,13987_178,Z_2,Z,120,178,online,easy,13987,M,Matriculation,1,40.0,1,N,2.0,1
3,13158_32,T_2,T,117,32,offline,easy,13158,F,Matriculation,3,NaN,4,N,1.0,1
4,10591_84,V_3,V,131,84,offline,intermediate,10591,F,High School Diploma,1,42.0,2,N,4.0,1
5,12531_23,T_3,T,134,23,offline,intermediate,12531,F,High School Diploma,1,29.0,4,N,2.0,0
6,17874_144,Y_2,Y,120,144,online,easy,17874,M,Bachelors,2,48.0,3,N,3.0,1
7,8129_61,U_1,U,134,61,online,easy,8129,M,Matriculation,2,45.0,1,N,1.0,1
8,5652_57,U_1,U,134,57,offline,easy,5652,M,Matriculation,4,NaN,3,N,3.0,1
9,17019_153,Y_1,Y,136,153,offline,hard,17019,M,Bachelors,3,28.0,2,N,4.0,1
10,9932_80,V_3,V,131,80,offline,easy,9932,F,High School Diploma,3,NaN,2,N,4.0,1
11,8543_31,T_3,T,134,31,online,easy,8543,F,High School Diploma,4,NaN,2,N,1.0,1
12,15848_149,Y_1,Y,136,149,offline,intermediate,15848,M,High School Diploma,1,NaN,4,N,4.0,1
13,423_126,Y_3,Y,135,126,offline,intermediate,423,M,Matriculation,3,NaN,4,N,5.0,1
14,8404_27,T_3,T,134,27,online,easy,8404,M,Bachelors,2,NaN,2,N,1.0,1
15,10276_65,U_1,U,134,65,offline,vary hard,10276,M,High School Diploma,2,45.0,2,Y,2.0,0
16,9774_104,X_3,X,136,104,offline,hard,9774,M,High School Diploma,1,28.0,2,N,5.0,0
17,8899_85,V_3,V,131,85,offline,intermediate,8899,F,High School Diploma,1,NaN,2,N,2.0,1
18,13535_33,T_2,T,117,33,offline,intermediate,13535,F,High School Diploma,3,43.0,2,N,1.0,0
19,13920_151,Y_1,Y,136,151,offline,hard,13920,F,Bachelors,3,28.0,2,N,4.0,0
20,10498_159,Y_1,Y,136,159,online,easy,10498,M,High School Diploma,3,27.0,2,N,4.0,1
21,10868_44,T_1,T,131,44,offline,easy,10868,F,Matriculation,4,32.0,4,N,1.0,0
22,2352_115,Y_4,Y,121,115,offline,hard,2352,M,High School Diploma,3,NaN,6,Y,3.0,1
23,299_150,Y_1,Y,136,150,offline,intermediate,299,M,High School Diploma,2,NaN,2,N,3.0,1
24,12764_144,Y_2,Y,120,144,online,easy,12764,M,Matriculation,2,NaN,3,N,2.0,1
25,16955_99,V_1,V,133,99,offline,hard,16955,F,High School Diploma,1,NaN,4,Y,1.0,0
26,204_96,V_1,V,133,96,offline,easy,204,F,Matriculation,1,44.0,2,N,1.0,1
27,378_19,T_4,T,120,19,online,easy,378,F,High School Diploma,3,NaN,2,N,2.0,1
28,15006_59,U_1,U,134,59,offline,intermediate,15006,F,High School Diploma,4,29.0,4,N,2.0,1
29,11440_30,T_3,T,134,30,online,easy,11440,F,Matriculation,2,44.0,2,N,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73117,1198_156,Y_1,Y,136,156,online,easy,1198,M,Matriculation,2,NaN,4,N,3.0,1
73118,3094_7,S_1,S,135,7,offline,intermediate,3094,F,Matriculation,3,NaN,6,Y,1.0,0
73119,1580_70,V_4,V,122,70,offline,intermediate,1580,M,Matriculation,3,45.0,3,N,4.0,0
73120,1389_115,Y_4,Y,121,115,offline,hard,1389,M,High School Diploma,3,26.0,2,N,4.0,1
73121,9080_133,Y_3,Y,135,133,online,easy,9080,F,Matriculation,1,NaN,4,N,5.0,1
73122,162_23,T_3,T,134,23,offline,intermediate,162,F,High School Diploma,3,45.0,2,Y,1.0,0
73123,13489_156,Y_1,Y,136,156,online,easy,13489,F,High School Diploma,3,NaN,10,N,3.0,1
73124,2579_78,V_4,V,122,78,online,easy,2579,F,Bachelors,1,NaN,5,N,4.0,1
73125,13821_33,T_2,T,117,33,offline,intermediate,13821,F,High School Diploma,1,NaN,2,N,1.0,1
73126,310_66,V_4,V,122,66,offline,easy,310,M,Bachelors,1,42.0,2,Y,2.0,1
73127,18838_27,T_3,T,134,27,online,easy,18838,F,Matriculation,1,NaN,2,N,1.0,1
73128,18568_113,Y_4,Y,121,113,offline,intermediate,18568,M,Matriculation,2,43.0,2,N,4.0,1
73129,17976_84,V_3,V,131,84,offline,intermediate,17976,M,High School Diploma,3,42.0,3,N,4.0,0
73130,8815_81,V_3,V,131,81,offline,intermediate,8815,F,High School Diploma,3,NaN,4,N,1.0,0
73131,7603_78,V_4,V,122,78,online,easy,7603,F,High School Diploma,2,NaN,2,N,2.0,1
73132,14411_93,V_2,V,121,93,offline,vary hard,14411,F,High School Diploma,4,29.0,2,N,3.0,0
73133,7106_113,Y_4,Y,121,113,offline,intermediate,7106,M,High School Diploma,1,NaN,2,N,5.0,1
73134,10783_126,Y_3,Y,135,126,offline,intermediate,10783,M,High School Diploma,3,47.0,2,N,1.0,0
73135,11003_129,Y_3,Y,135,129,offline,hard,11003,M,High School Diploma,1,28.0,4,N,1.0,1
73136,19135_74,V_4,V,122,74,online,easy,19135,M,Bachelors,1,NaN,2,N,1.0,1
73137,14444_142,Y_2,Y,120,142,online,easy,14444,M,Matriculation,1,NaN,2,N,2.0,1
73138,16277_149,Y_1,Y,136,149,offline,intermediate,16277,F,Bachelors,1,43.0,2,N,4.0,1
73139,6552_145,Y_2,Y,120,145,online,easy,6552,M,Bachelors,1,43.0,2,N,5.0,1
73140,3944_73,V_4,V,122,73,online,easy,3944,M,Bachelors,3,NaN,4,N,2.0,1
73141,9934_137,Y_2,Y,120,137,offline,intermediate,9934,M,Matriculation,1,NaN,2,N,4.0,1
73142,3882_161,Z_3,Z,130,161,offline,easy,3882,F,High School Diploma,3,NaN,1,N,2.0,1
73143,3426_38,T_2,T,117,38,online,easy,3426,F,High School Diploma,2,45.0,2,N,2.0,1
73144,13063_142,Y_2,Y,120,142,online,easy,13063,M,Matriculation,2,NaN,3,N,4.0,1
73145,5667_82,V_3,V,131,82,offline,intermediate,5667,M,High School Diploma,3,27.0,2,N,2.0,1
73146,4467_119,Y_4,Y,121,119,online,easy,4467,F,High School Diploma,3,31.0,2,N,4.0,1

In [158]:
a = pd.read_csv('ert.csv')

In [159]:
median = a["age"].median()
a["age"].fillna(median,inplace = True)
#a["age"] =np.int64(a["age"])
#a["id"] =np.int64(a["id"])
a = a.drop(['id'],axis=1)
a = a.drop(['program_id'],axis=1)
a = a.drop(['test_id'],axis=1)
#a = del a['program_id']
#a = del a['program_type']

In [160]:
#b =a["age"].dtype
#print(b)
#ishand = {'N':0 , 'Y':1}
median = a["trainee_engagement_rating"].median()
a["trainee_engagement_rating"].fillna(median,inplace = True)
#one_hot_data = pd.concat([a, pd.get_dummies(a['is_handicapped'], prefix='IH')], axis=1)

# Drop the previous rank column
#one_hot_data = one_hot_data.drop('is_handicapped', axis=1)

# Print the first 10 rows of our data
#one_hot_data[:10]
#a = one_hot_data[:]
#a['is_handicapped'] = a['is_handicapped'].apply(lambda x:ishand[x] )

In [161]:
one_hot_data = pd.concat([a, pd.get_dummies(a['is_handicapped'], prefix='IH')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('is_handicapped', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]
#median = a["trainee_engagement_rating"].median()
#a["trainee_engagement_rating"].fillna(median,inplace = True)
#a["trainee_engagement_rating"] = np.int64(a["trainee_engagement_rating"])

In [162]:
#a.info()
one_hot_data = pd.concat([a, pd.get_dummies(a['difficulty_level'], prefix='difficulty_level')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('difficulty_level', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data

In [163]:
one_hot_data = pd.concat([a, pd.get_dummies(a['education'], prefix='education')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('education', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [164]:
a.head()

,program_type,program_duration,test_type,trainee_id,gender,city_tier,age,total_programs_enrolled,trainee_engagement_rating,is_pass,...,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,difficulty_level_vary hard,education_Bachelors,education_High School Diploma,education_Masters,education_Matriculation,education_No Qualification
0,Y,136,offline,9389,M,3,24.0,5,1.0,0,...,0,0,0,1,0,0,0,0,1,0
1,T,131,offline,16523,F,4,26.0,2,3.0,1,...,0,1,0,0,0,0,1,0,0,0
2,Z,120,online,13987,M,1,40.0,1,2.0,1,...,0,1,0,0,0,0,0,0,1,0
3,T,117,offline,13158,F,3,39.0,4,1.0,1,...,0,1,0,0,0,0,0,0,1,0
4,V,131,offline,10591,F,1,42.0,2,4.0,1,...,0,0,0,1,0,0,1,0,0,0

In [165]:

#a["age"] =np.uint8(a["age"])
a["program_duration"] = a["program_duration"]/200
#a["program_duration"] = np.uint8(a["program_duration"])

In [166]:
a["age"] = a["age"]/40
#a.head()

In [167]:
a.head()

,program_type,program_duration,test_type,trainee_id,gender,city_tier,age,total_programs_enrolled,trainee_engagement_rating,is_pass,...,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,difficulty_level_vary hard,education_Bachelors,education_High School Diploma,education_Masters,education_Matriculation,education_No Qualification
0,Y,0.680,offline,9389,M,3,0.600,5,1.0,0,...,0,0,0,1,0,0,0,0,1,0
1,T,0.655,offline,16523,F,4,0.650,2,3.0,1,...,0,1,0,0,0,0,1,0,0,0
2,Z,0.600,online,13987,M,1,1.000,1,2.0,1,...,0,1,0,0,0,0,0,0,1,0
3,T,0.585,offline,13158,F,3,0.975,4,1.0,1,...,0,1,0,0,0,0,0,0,1,0
4,V,0.655,offline,10591,F,1,1.050,2,4.0,1,...,0,0,0,1,0,0,1,0,0,0

In [168]:
one_hot_data = pd.concat([a, pd.get_dummies(a['program_type'], prefix='type')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('program_type', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a=one_hot_data[:]

In [169]:
a = a.drop(["trainee_id"],axis=1)

In [170]:
a.head()

,program_duration,test_type,gender,city_tier,age,total_programs_enrolled,trainee_engagement_rating,is_pass,IH_N,IH_Y,...,education_Masters,education_Matriculation,education_No Qualification,type_S,type_T,type_U,type_V,type_X,type_Y,type_Z
0,0.680,offline,M,3,0.600,5,1.0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
1,0.655,offline,F,4,0.650,2,3.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0.600,online,M,1,1.000,1,2.0,1,1,0,...,0,1,0,0,0,0,0,0,0,1
3,0.585,offline,F,3,0.975,4,1.0,1,1,0,...,0,1,0,0,1,0,0,0,0,0
4,0.655,offline,F,1,1.050,2,4.0,1,1,0,...,0,0,0,0,0,0,1,0,0,0

In [171]:
one_hot_data = pd.concat([a, pd.get_dummies(a['gender'], prefix='gender')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('gender', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [172]:
one_hot_data = pd.concat([a, pd.get_dummies(a['test_type'], prefix='TT')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('test_type', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [173]:
a.head()

,program_duration,city_tier,age,total_programs_enrolled,trainee_engagement_rating,is_pass,IH_N,IH_Y,difficulty_level_easy,difficulty_level_hard,...,type_T,type_U,type_V,type_X,type_Y,type_Z,gender_F,gender_M,TT_offline,TT_online
0,0.680,3,0.600,5,1.0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,1,0
1,0.655,4,0.650,2,3.0,1,1,0,1,0,...,1,0,0,0,0,0,1,0,1,0
2,0.600,1,1.000,1,2.0,1,1,0,1,0,...,0,0,0,0,0,1,0,1,0,1
3,0.585,3,0.975,4,1.0,1,1,0,1,0,...,1,0,0,0,0,0,1,0,1,0
4,0.655,1,1.050,2,4.0,1,1,0,0,0,...,0,0,1,0,0,0,1,0,1,0

In [174]:
one_hot_data = pd.concat([a, pd.get_dummies(a['city_tier'], prefix='city')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('city_tier', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [175]:
a.head()

,program_duration,age,total_programs_enrolled,trainee_engagement_rating,is_pass,IH_N,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,...,type_Y,type_Z,gender_F,gender_M,TT_offline,TT_online,city_1,city_2,city_3,city_4
0,0.680,0.600,5,1.0,0,1,0,0,0,1,...,1,0,0,1,1,0,0,0,1,0
1,0.655,0.650,2,3.0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
2,0.600,1.000,1,2.0,1,1,0,1,0,0,...,0,1,0,1,0,1,1,0,0,0
3,0.585,0.975,4,1.0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
4,0.655,1.050,2,4.0,1,1,0,0,0,1,...,0,0,1,0,1,0,1,0,0,0

In [176]:
one_hot_data = pd.concat([a, pd.get_dummies(a['total_programs_enrolled'], prefix='TPe')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('total_programs_enrolled', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [177]:
one_hot_data = pd.concat([a, pd.get_dummies(a['trainee_engagement_rating'], prefix='TRR')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('trainee_engagement_rating', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
a = one_hot_data[:]

In [178]:
a.head()

,program_duration,age,is_pass,IH_N,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,difficulty_level_vary hard,education_Bachelors,...,TPe_9,TPe_10,TPe_11,TPe_12,TPe_14,TRR_1.0,TRR_2.0,TRR_3.0,TRR_4.0,TRR_5.0
0,0.680,0.600,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0.655,0.650,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.600,1.000,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.585,0.975,1,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0.655,1.050,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [179]:
#a['is_pass'].value_counts()
#keras.utils.to_categorical(a['is_pass'], 2)

In [180]:
import keras
features = np.array(a.drop('is_pass', axis=1))
targets = np.array(a['is_pass'])
print (targets[:10])

[0 1 1 1 1 0 1 1 1 1]

# TESTing
DATA

In [181]:
test = pd.read_csv('test.csv')

In [182]:
test.head()

,id,program_id,program_type,program_duration,test_id,test_type,difficulty_level,trainee_id,gender,education,city_tier,age,total_programs_enrolled,is_handicapped,trainee_engagement_rating
0,1626_45,T_1,T,131,45,offline,intermediate,1626,F,Matriculation,3,46.0,2,N,4.0
1,11020_130,Y_3,Y,135,130,online,easy,11020,M,Bachelors,3,NaN,4,N,4.0
2,12652_146,Y_2,Y,120,146,online,easy,12652,M,Matriculation,3,NaN,2,N,3.0
3,7038_72,V_4,V,122,72,offline,vary hard,7038,F,High School Diploma,1,NaN,2,N,2.0
4,888_71,V_4,V,122,71,offline,intermediate,888,F,Matriculation,3,NaN,2,N,2.0

In [183]:
median = test["age"].median()
test["age"].fillna(median,inplace = True)
#a["age"] =np.int64(a["age"])
#a["id"] =np.int64(a["id"])
#test = test.drop(['id'],axis=1)
test = test.drop(['program_id'],axis=1)
test = test.drop(['test_id'],axis=1)
#a = del a['program_id']
#a = del a['program_type']

In [184]:
median = test["trainee_engagement_rating"].median()
test["trainee_engagement_rating"].fillna(median,inplace = True)

In [185]:
one_hot_data = pd.concat([test, pd.get_dummies(test['is_handicapped'], prefix='IH')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('is_handicapped', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data

In [186]:
one_hot_data = pd.concat([test, pd.get_dummies(test['difficulty_level'], prefix='difficulty_level')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('difficulty_level', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data

In [187]:
one_hot_data = pd.concat([test, pd.get_dummies(test['education'], prefix='education')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('education', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [188]:
#a["age"] =np.uint8(a["age"])
test["program_duration"] = test["program_duration"]/200
test["age"] = test["age"]/40

#a["program_duration"] = np.uint8(a["program_duration"])

In [189]:
test.head()

,id,program_type,program_duration,test_type,trainee_id,gender,city_tier,age,total_programs_enrolled,trainee_engagement_rating,...,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,difficulty_level_vary hard,education_Bachelors,education_High School Diploma,education_Masters,education_Matriculation,education_No Qualification
0,1626_45,T,0.655,offline,1626,F,3,1.150,2,4.0,...,0,0,0,1,0,0,0,0,1,0
1,11020_130,Y,0.675,online,11020,M,3,0.975,4,4.0,...,0,1,0,0,0,1,0,0,0,0
2,12652_146,Y,0.600,online,12652,M,3,0.975,2,3.0,...,0,1,0,0,0,0,0,0,1,0
3,7038_72,V,0.610,offline,7038,F,1,0.975,2,2.0,...,0,0,0,0,1,0,1,0,0,0
4,888_71,V,0.610,offline,888,F,3,0.975,2,2.0,...,0,0,0,1,0,0,0,0,1,0

In [190]:
one_hot_data = pd.concat([test, pd.get_dummies(test['program_type'], prefix='type')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('program_type', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test=one_hot_data[:]

In [191]:
test = test.drop(["trainee_id"],axis=1)

In [192]:
one_hot_data = pd.concat([test, pd.get_dummies(test['gender'], prefix='gender')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('gender', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [193]:
one_hot_data = pd.concat([test, pd.get_dummies(test['test_type'], prefix='TT')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('test_type', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [194]:
one_hot_data = pd.concat([test, pd.get_dummies(test['city_tier'], prefix='city')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('city_tier', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [195]:
one_hot_data = pd.concat([test, pd.get_dummies(test['total_programs_enrolled'], prefix='TPe')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('total_programs_enrolled', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [196]:
one_hot_data = pd.concat([test, pd.get_dummies(test['trainee_engagement_rating'], prefix='TRR')], axis=1)

# Drop the previous rank column
one_hot_data = one_hot_data.drop('trainee_engagement_rating', axis=1)

# Print the first 10 rows of our data
one_hot_data[:10]
test = one_hot_data[:]

In [197]:
test.head()

,id,program_duration,age,IH_N,IH_Y,difficulty_level_easy,difficulty_level_hard,difficulty_level_intermediate,difficulty_level_vary hard,education_Bachelors,...,TPe_9,TPe_10,TPe_11,TPe_12,TPe_14,TRR_1.0,TRR_2.0,TRR_3.0,TRR_4.0,TRR_5.0
0,1626_45,0.655,1.150,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,11020_130,0.675,0.975,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,12652_146,0.600,0.975,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,7038_72,0.610,0.975,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,888_71,0.610,0.975,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [199]:
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD
from keras.utils import np_utils

# abhi isme make the changes before sleeping
model = Sequential()
model.add(Dense(512, activation='relu', input_shape=(46,)))
model.add(Dropout(.3))
model.add(Dense(256, activation='relu'))
model.add(Dropout(.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(32,activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid'))

# Compiling the model
model.compile(loss = 'binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 512)               24064
_________________________________________________________________
dropout_18 (Dropout)         (None, 512)               0
_________________________________________________________________
dense_23 (Dense)             (None, 256)               131328
_________________________________________________________________
dropout_19 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_24 (Dense)             (None, 128)               32896
_________________________________________________________________
dropout_20 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_25 (Dense)             (None, 64)                8256
_________________________________________________________________
dropout_21 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_26 (Dense)             (None, 32)                2080
_________________________________________________________________
dropout_22 (Dropout)         (None, 32)                0
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 33
=================================================================
Total params: 198,657
Trainable params: 198,657
Non-trainable params: 0
_________________________________________________________________

In [200]:
targets.reshape(73147,)

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [201]:
model.fit(features, targets, epochs=1000, batch_size=200, verbose=0)

In [202]:
score = model.evaluate(features, targets)
print("\n Training Accuracy:", score[1])

73147/73147 [==============================] - 4s 59us/step

 Training Accuracy: 0.7107741944352828

In [203]:
features_test = test.drop('id',axis=1)

In [204]:
test.columns

Index(['id', 'program_duration', 'age', 'IH_N', 'IH_Y',
       'difficulty_level_easy', 'difficulty_level_hard',
       'difficulty_level_intermediate', 'difficulty_level_vary hard',
       'education_Bachelors', 'education_High School Diploma',
       'education_Masters', 'education_Matriculation',
       'education_No Qualification', 'type_S', 'type_T', 'type_U', 'type_V',
       'type_X', 'type_Y', 'type_Z', 'gender_F', 'gender_M', 'TT_offline',
       'TT_online', 'city_1', 'city_2', 'city_3', 'city_4', 'TPe_1', 'TPe_2',
       'TPe_3', 'TPe_4', 'TPe_5', 'TPe_6', 'TPe_7', 'TPe_8', 'TPe_9', 'TPe_10',
       'TPe_11', 'TPe_12', 'TPe_14', 'TRR_1.0', 'TRR_2.0', 'TRR_3.0',
       'TRR_4.0', 'TRR_5.0'],
      dtype='object')

In [205]:
is_pass_test = model.predict(features_test,batch_size=100)

In [206]:
print (is_pass_test)

[[  0.7414394 ]
 [  0.81113106]
 [  0.7235285 ]
 ...
 [  0.8293249 ]
 [  0.5191143 ]
 [281.602     ]]

In [207]:
final_preds = [round(x[0]) for x in is_pass_test]

In [208]:
final_preds

[1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 14.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1066.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 18.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 215.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1490.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 519.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 237.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1066.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2007.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 29.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 19.0,
 1.0,
 0.0,
 1.0,
 67.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 152.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 12.0,
 2751.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 333.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 536.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 7.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 615.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1576.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2640.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 70.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 341.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 172.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1519.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1474.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 4.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1570.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 914.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 569.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 998.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 51.0,
 18.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 ...]

In [209]:
my_submission = pd.DataFrame({'id': test.id, 'is_pass': final_preds})
# you could use any filename. We choose submission here
my_submission.to_csv('wg.csv', index=False)

In [213]:
X=np.random.randn(5,5,5,5)
pad = 2
X_pad = np.pad(X, ((0, 0), (pad, pad), (pad, pad), (0, 0)), 'constant', constant_values=0)
    ### END CODE HERE ###

In [214]:
X_pad

array([[[[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-0.07870145, -0.88092943, -0.24450727,  0.04166995,
          -0.31598952],
         ...,
         [ 0.90448989,  0.65111289, -0.64824371,  0.933508  ,
           0.55416624],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        ...,

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-0.25491191, -0.43578509,  0.79361574, -0.08434224,
          -0.24769112],
         ...,
         [-0.78425302,  1.11084608,  0.40532971, -0.03638716,
           1.1708537 ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]]],


       [[[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-1.08097797, -0.57539079,  0.51587481, -0.88087262,
          -0.27615013],
         ...,
         [-2.54852873, -1.91678075, -0.19304569,  0.3337434 ,
           1.57268204],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        ...,

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.99290339,  0.03768443,  0.07989826, -0.894155  ,
          -1.39076876],
         ...,
         [ 0.60529904, -0.61638317,  0.64725164,  0.71832001,
           1.17161524],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]]],


       [[[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-0.77418181, -1.04279854,  1.34790704, -1.38097886,
          -0.73474119],
         ...,
         [-0.32255511, -1.79050738,  1.11839459,  0.61033799,
           1.53027411],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        ...,

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-0.41881325, -0.44823848,  0.79609244,  1.52650186,
          -0.46384827],
         ...,
         [-0.00936875,  1.20635809, -0.89220377, -0.61326869,
          -0.7961462 ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]]],


       [[[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [-0.73849001,  0.22610821, -2.18608713, -1.23892995,
           0.64927104],
         ...,
         [ 0.06785618, -0.88609174,  0.07117366,  0.96682813,
          -1.01522978],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        ...,

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 2.57272355, -0.12768147,  0.53094841,  0.85976406,
          -0.39254348],
         ...,
         [-1.3324602 ,  0.43787382, -0.67837649, -0.65537652,
           0.19813817],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]]],


       [[[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.52891225, -0.07902148, -0.58755202,  1.4781265 ,
           0.62701426],
         ...,
         [-0.13164424,  1.08069965,  0.55557568,  1.5777762 ,
          -0.1585807 ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        ...,

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 2.26209593, -1.18287154, -0.43670111,  1.29524358,
           1.13963029],
         ...,
         [-0.4140296 , -0.94185545,  0.64337365,  0.60818078,
           0.56755449],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]],

        [[ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         ...,
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ],
         [ 0.        ,  0.        ,  0.        ,  0.        ,
           0.        ]]]])

In [216]:
from keras.models import Sequential
from keras.layers import Conv2D

model = Sequential()
model.add(Conv2D(filters=32, kernel_size=3, strides=2, padding='same', 
    activation='relu', input_shape=(128, 128, 3)))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_2 (Conv2D)            (None, 64, 64, 32)        896
=================================================================
Total params: 896
Trainable params: 896
Non-trainable params: 0
_________________________________________________________________